/* Website styles */

* {
  /* font-size: 100%; */
}
body {
  color: rgb(178, 34, 34);
  font-size: 14px;
  font-family: 'Nerko One', cursive;
  background-color: aqua;
}

h1 {
    color: blue;
    font-family: Helvetica, Arial;
}

h2 {
  color: red;
}

p {
  font-size: 18px;
  color: black;
}

header {
  color: rgb(170,170,170);
}

footer {
  color: #444444;
}

section {
  color: green;
}
